@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import './reset.scss';
@import './typography.scss';
@import './header.scss';
@import './orderTranslate.scss';
@import './about-company.scss';
@import './languages.scss';
@import './features-translate.scss';
@import './media.scss';
@import './how-we-work.scss';
@import './discount.scss';
@import './discount-offer.scss';
@import './footer.scss';
@import './contacts.scss';
@import './form.scss';
@import './burger-menu.scss';
@import './lang-dropdown.scss';

html,
body {
  height: 100vh;
  font-size: 10px;
}

.lock {
  overflow: hidden;
}

.container {
  max-width: 1178px;
  margin: 0 auto;
  padding: 0 15px;

  @media(min-width: 992px) and (max-width: 1199.99px) {
    max-width: 960px;
  }

  @media (min-width: 768px) and (max-width: 991.98px) {
    max-width: 720px;
  }

  @media (min-width: 576px) and (max-width: 767.98px) {
    max-width: 540px;
  }


  @media (min-width: 421px) and (max-width: 575.98px) {
    max-width: 420px;
  }

  @media (min-width: 320px) and (max-width: 420.98px) {
    max-width: 320px;
  }
}
