<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="#212121">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="Description">
  <script src="https://api-maps.yandex.ru/2.1/?apikey=ваш API-ключ&lang=ru_RU&load=Geolink" type="text/javascript"></script>
  <title>Document</title>
<link rel="stylesheet" href="../static/css/app.5a203f7e.css"></head>

<body>
  <!--  header -->
  <header class="header">
    <div class="container">

      <div class="header__menu">
        <div class="header__logo"><img src="../static/images/logo.8b7381fb.svg" alt="алтайская ассоциация"></div>
        <div class="header__contacts">

          <div class="header__icons">
            <a href="https://telegram.me/ilin_me" target="_blank"><img src="../static/images/telegram.b1d0a61b.svg" alt="telegram"></a>
            <a href="https://wa.me/79132765509" target="_blank"><img src="../static/images/whatsapp.9afe0ffe.svg" alt="whatsapp"></a>
            
          </div>

          <div class="header__adress">
            <p>Барнаул, ул. Деповская, 7, офис Б-310</p>
            <a href="mailto:perevod_arap@mail.ru" target="_blank">perevod_arap@mail.ru</a>
          </div>

          <div class="header__tel">
            <a href="tel:+73852243947">+7 3852 243947</a>
            <a href="tel:+79132765509">+7 913 2765509</a>
          </div>
        </div>

        <div class="header__burger_icon">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>


      <aside class="header__burger">
        <div class="header__burger_close">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <ul class="header__burger_menu">
          <li class="burger__links"><a href="#aboutCompany">О компании</a></li>
          <li class="burger__links"><a href="#languages">Языки для переводов</a></li>
          <li class="burger__links"><a href="#form">Заказать перевод</a></li>
          <li class="burger__links"><a href="#contacts">Контакты</a></li>
        </ul>
      </aside>

    </div>
  </header>



  <!--  main -->
  <main>

    <nav>
      <div class="container">

        <ul class="navbar">
          <li>
            <a href="#aboutCompany">О компании</a>
          </li>

          <li>
            <a href="#languages">Языки для перевода</a>
          </li>
          <li>
            <a href="#form">Заказать перевод</a>
          </li>
          <li>
            <a href="#contacts">Контакты</a>
          </li>


        </ul>
      </div>

    </nav>
    <section class="orderTranslate">
      <div class="container">
        <div class="orderTranslate__wrap">

          <h1>Алтайская региональная ассоциация переводчиков</h1>
          <p>Язык — ключ к общению. Мы поможем понять друг друга.</p>
          <button>Заказать перевод</button>
        </div>
      </div>
    </section>

    <div class="container">
      <!-- Добавил текст, чуть поправил структуру -->
      <section id="aboutCompany" class="aboutCompany">
        <h2>О компании</h2>
        <p>
          Переводим с 2002 года. Работаем с российскими и зарубежными клиентами, юридическими и физическими лицами.
        </p>
        <p> В штате опытные дипломированные переводчики, мы работаем с текстами любой сложности и тематики.Сотрудничаем
          с носителями языка и экспертами, обладающими специализированными знаниями и лексикой. Постоянно привлекаем
          новых специалистов и расширяем перечень языков.
        </p>
        <p>
          Находимся в самом сердце города — к нам легко добраться с любого направления на личном и общественном
          транспорте.
        </p>
      </section>

      <!-- Добавил правильный текст, поправил структуру -->
      <section id="languages" class="languages">
        <h2>Языки для перевода</h2>
        <ul class="languages__wrap">
          <li class="languages__item">азербайджанский</li>
          <li class="languages__item">английский</li>
          <li class="languages__item">арабский</li>
          <li class="languages__item">армянский</li>
          <li class="languages__item">белорусский</li>
          <li class="languages__item">иврит</li>
          <li class="languages__item">испанский</li>
          <li class="languages__item">итальянский</li>
          <li class="languages__item">китайский</li>
          <li class="languages__item">корейский</li>
          <li class="languages__item">молдавский</li>
          <li class="languages__item">немецкий</li>
          <li class="languages__item">польский</li>
          <li class="languages__item">румынский</li>
          <li class="languages__item">сербский</li>
          <li class="languages__item">таджикский</li>
          <li class="languages__item">турецкий</li>
          <li class="languages__item">узбекский</li>
          <li class="languages__item">украинский</li>
          <li class="languages__item">французский</li>
          <li class="languages__item">чешский</li>
          <li class="languages__item">японский</li>
        </ul>
        
        <p class="languages__banner">
          Мы постоянно ищем новых переводчиков и расширяем список языков. Не нашли в списке нужный Вам язык? Уточните у
          менеджеров компании — мы постараемся Вам помочь!
        </p>
      </section>

      <!-- Добавил текст -->
      <section class="featuresTranslate">
        <h2>Переводим тексты любой сложности и тематики</h2>
        <div class="featuresTranslate__wrap">

          <div class="featuresTranslate__item">
            <img src="../static/images/science.6a29c541.svg" alt="наука">
            <p class="featuresTranslate__item_text">Наука</p>
          </div>

          <div class="featuresTranslate__item">
            <img src="../static/images/document.574cc8a1.svg" alt="документы для таможни">
            <p class="featuresTranslate__item_text">Документы для таможни</p>
          </div>

          <div class="featuresTranslate__item">
            <img src="../static/images/ur-doc.d8f05f2f.svg" alt="Юридические документы">
            <p class="featuresTranslate__item_text">Юридические документы</p>
          </div>

          <div class="featuresTranslate__item">
            <img src="../static/images/medical.eae2fbab.svg" alt="Медицина">
            <p class="featuresTranslate__item_text">Медицина</p>
          </div>

          <div class="featuresTranslate__item">
            <img src="../static/images/tech.840c57e8.svg" alt="Техника">
            <p class="featuresTranslate__item_text">Техника</p>
          </div>

          <div class="featuresTranslate__item">
            <img src="../static/images/info-material.3754bd45.svg" alt="информационные материалы">
            <p class="featuresTranslate__item_text">Рекламно-информационные материалы</p>
          </div>

          <div class="featuresTranslate__item">
            <img src="../static/images/privacy-doc.7d02d7bf.svg" alt="Личные документы">
            <p class="featuresTranslate__item_text">Личные документы</p>
          </div>

          <div class="featuresTranslate__item">
            <img src="../static/images/finance.605c3c72.svg" alt="Финансы">
            <p class="featuresTranslate__item_text">Финансы</p>
          </div>
        </div>
      </section>


      <!-- Поменял класс на Work - так более по-английски -->
      <section class="howWeWork">
        <h2>Как мы работаем</h2>
        <div class="howWeWork__wrap">

          <div class="howWeWork__item">
            <div class="howWeWork__item_container-outer">
              <div class="howWeWork__item_container-inner">
                <div class="howWeWork__item_number">
                  1
                </div>
                <div class="howWeWork__item_content">
                  <p>Оформите заявку</p>
                  <ul class="howWeWork__item_content_list">
                    <li class="howWeWork__item_content_list-item">Сайт</li>
                    <li class="howWeWork__item_content_list-item">Email</li>
                    <li class="howWeWork__item_content_list-item">Телефон</li>
                    <li class="howWeWork__item_content_list-item">Офис</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <div class="howWeWork__item">
            <div class="howWeWork__item_container-outer">
              <div class="howWeWork__item_container-inner">
                <div class="howWeWork__item_number">
                  2
                </div>
                <div class="howWeWork__item_content">
                  <p>Уточняем детали, выполняем перевод</p>
                </div>
              </div>
            </div>
          </div>

          <div class="howWeWork__item">
            <div class="howWeWork__item_container-outer">
              <div class="howWeWork__item_container-inner">
                <div class="howWeWork__item_number">
                  3
                </div>
                <div class="howWeWork__item_content">
                  <p>Получите готовый заказ</p>
                  <ul class="howWeWork__item_content_list_flat">
                    <li class="howWeWork__item_content_list-item">Доставка</li>
                    <li class="howWeWork__item_content_list-item">Email</li>
                    <li class="howWeWork__item_content_list-item">Офис</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

        </div>
        <button type="button">Заказать перевод</button>
      </section>

      <section class="discountOffer">
        <div class="discountOffer__description">
          <h2>Скидка до 10%</h2>
          <p>
            Скидки при больших объёмах и не срочных заказах.<br>
            Рассчитаем стоимость и сроки перевода после ознакомления с материалами.
          </p>
        </div>
      </section>

      <section class="discount">
        <h2>Что влияет на стоимость?</h2>
        <div class="discount__wrap">
          <div class="discount__item">
            <img src="../static/images/language.d272428f.svg" alt="Язык">
            <p class="discount__item_text">Язык</p>
          </div>
          <div class="discount__item">
            <img src="../static/images/subject.8a54a8f5.svg" alt="Тематика">
            <p class="discount__item_text">Тематика</p>
          </div>
          <div class="discount__item">
            <img src="../static/images/deadline.750e91ea.svg" alt="Сроки">
            <p class="discount__item_text">Сроки</p>
          </div>
          <div class="discount__item">
            <img src="../static/images/size.b7ab39d9.svg" alt="Объём">
            <p class="discount__item_text">Объём</p>
          </div>
        </div>
      </section>


      <section id="form" class="form">
        <div class="container">
        <h2>Заказать перевод</h2>

        <form id="order-form" name="orderForm" action="" method="post" enctype="multipart/form-data" class="form__translate" multiple>
          <!--          чекбокса -->
          <div class="form__radio">
            <input type="radio" name="face" id="fz" value="Юридическое лицо">
            <label for="fz">Юридическое лицо</label>

              <input type="radio" name="face" id="ur" value="Физическое лицо">
            <label for="ur">Физическое лицо</label>
            </div>


          <!-- инпута 4 штуки -->

          <div class="form__input">
            <label for="city">Город</label>
            <input type="text" name="city" class="form__input_style" placeholder="Барнаул">
          </div>
          <div class="form__input">
            <label for="initials">Фамилия, имя</label>
            <input type="text" name="initials" class="form__input_style" placeholder="Иванов Иван">
          </div>
          <div class="form__input">
            <label for="telephone">Телефон</label>
            <input type="tel" name="telephone" class="form__input_style" placeholder="+79999999999">
          </div>
          <div class="form__input">
            <label for="email">Email</label>
            <input type="email" name="email" class="form__input_style" placeholder="example@mail.ru">
          </div>

          <!-- снова 2 селекта -->

          <div class="form__select_changeLanguage">
            <label for="">Язык перевода</label>

            <div class="form__select_changeLanguage_wrap">

              <div id="originalLangDD" class="lang-dropdown">
                <div class="lang-dropdown__controls">
                    с ... языка
                </div>
                <select name="originalLang" class="lang-dropdown__hidden lang-dropdown__select" size="5">
                  <option value="азербайджанский">азербайджанский</option>
                  <option value="английский">английский</option>
                  <option value="арабский">арабский</option>
                  <option value="армянский">армянский</option>
                  <option value="белорусский">белорусский</option>
                  <option value="иврит">иврит</option>
                  <option value="испанский">испанский</option>
                  <option value="итальянский">итальянский</option>
                  <option value="китайский">китайский</option>
                  <option value="корейский">корейский</option>
                  <option value="молдавский">молдавский</option>
                  <option value="немецкий">немецкий</option>
                  <option value="польский">польский</option>
                  <option value="румынский">румынский</option>
                  <option value="сербский">сербский</option>
                  <option value="таджикский">таджикский</option>
                  <option value="турецкий">турецкий</option>
                  <option value="узбекский">узбекский</option>
                  <option value="украинский">украинский</option>
                  <option value="французский">французский</option>
                  <option value="чешский">чешский</option>
                  <option value="японский">японский</option>
                  <option value="другой">другой</option>
                </select>
              </div>

              <div id="targetLangDD" class="lang-dropdown">
                <div class="lang-dropdown__controls">
                    на ... язык
                </div>
                <select name="targetLang" class="lang-dropdown__hidden lang-dropdown__select" size="3&quot;">
                  <option value="азербайджанский">азербайджанский</option>
                  <option value="английский">английский</option>
                  <option value="арабский">арабский</option>
                  <option value="армянский">армянский</option>
                  <option value="белорусский">белорусский</option>
                  <option value="иврит">иврит</option>
                  <option value="испанский">испанский</option>
                  <option value="итальянский">итальянский</option>
                  <option value="китайский">китайский</option>
                  <option value="корейский">корейский</option>
                  <option value="молдавский">молдавский</option>
                  <option value="немецкий">немецкий</option>
                  <option value="польский">польский</option>
                  <option value="румынский">румынский</option>
                  <option value="сербский">сербский</option>
                  <option value="таджикский">таджикский</option>
                  <option value="турецкий">турецкий</option>
                  <option value="узбекский">узбекский</option>
                  <option value="украинский">украинский</option>
                  <option value="французский">французский</option>
                  <option value="чешский">чешский</option>
                  <option value="японский">японский</option>
                  <option value="другой">другой</option>
                </select>
              </div>

            </div>
          </div>

          <!-- снова 2 чекбокса -->

          <div class="form__checkbox">
            <label for="image">Материалы</label>

            <div class="form__checkbox_wrap">
              <input type="radio" id="electr" name="image">
              <label for="electr">в электронном виде</label>

              <input type="radio" id="paper" name="image">
              <label for="paper">на бумажном носителе</label>


            </div>

          </div>

          <!-- загрузить файл -->

          <div class="form__file">
            <label for="file">Прикрепить файл</label>
            <input type="file" name="file" multiple="">
          </div>
          <!-- загрузить файл -->

          <div class="form__date">
            <label for="date">Дата готовности перевода</label>
            <input type="date" name="date" class="form__input_style" placeholder="xx.xx.xxxx">
          </div>

          <!-- комментарии -->
          <div class="form__textarea">
            <label for="comment">Дополнительная информация</label>
            <textarea rows="7" class="form__textarea_style" name="comment"></textarea>
          </div>

          <div class="form__privacy">
            <input type="checkbox" name="privacy">
            <span>Я подтверждаю, что ознакомлен(а) с <a href="#">Политикой конфиденциальности</a></span>
          </div>

          <button type="submit">Заказать перевод</button>

        </form>
      </div>
      </section>


      <section id="contacts" class="contacts">
        <h2>Контакты</h2>
        <div class="contacts__wrap">

          <div class="contacts__map">
            <div style="position:relative;overflow:hidden;">
              <a href="https://yandex.ru/maps/197/barnaul/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0;">Барнаул</a>
              <a href="https://yandex.ru/maps/197/barnaul/house/depovskaya_ulitsa_7/bEoYcQBhTEQGQFtpfX91eXVhYA==/?ll=83.771511%2C53.348925&utm_medium=mapframe&utm_source=maps&z=17.28" style="color:#eee;font-size:12px;position:absolute;top:14px;">Деповская улица, 7 — Яндекс Карты</a>
              <iframe src="https://yandex.ru/map-widget/v1/-/CCUNbNbz2C" width="100%" height="320" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe>
            </div>
          </div>

          <address class="contacts__links">
            <div class="contacts__links_item">
              <img class="contacts__links_item_icon" src="../static/images/bx_home-alt-2.bacfb961.svg" alt="адрес">
              <a class="contacts__links_item_link" href="https://yandex.ru/maps/197/barnaul/house/depovskaya_ulitsa_7/bEoYcQBhTEQGQFtpfX91eXVhYA==/?ll=83.771511%2C53.348925&utm_medium=mapframe&utm_source=maps&z=17.28">
                г. Барнаул<br>ул. Деповская, 7, офис Б-310
              </a>
            </div>
            <div class="contacts__links_item">
              <img class="contacts__links_item_icon" src="../static/images/ri_phone-line.d581c64b.svg" alt="мобильный телефон">
              <a href="tel:+79132765509" class="contacts__links_item_link">+7 913 276 5509</a>
            </div>
            <div class="contacts__links_item">
              <img class="contacts__links_item_icon" src="../static/images/ri_phone-line.d581c64b.svg" alt="городской телефон">
              <a href="tel:+73852243947" class="contacts__links_item_link">+7 3852 243947</a>
            </div>
            <div class="contacts__links_item">
              <img class="contacts__links_item_icon" src="../static/images/whatsapp.9afe0ffe.svg" alt="вотсап">
              <a href="https://wa.me/79132765509" target="_blank" class="contacts__links_item_link">+7 913 276 5509</a>
            </div>
            <div class="contacts__links_item">
              <img class="contacts__links_item_icon" src="../static/images/telegram.b1d0a61b.svg" alt="телеграмм">
              <a href="https://telegram.me/ilin_me" target="_blank" class="contacts__links_item_link">@ilin_em</a>
            </div>
            <div class="contacts__links_item">
              <img class="contacts__links_item_icon" src="../static/images/ri_at-line.3453f3b3.svg" alt="электронная почта">
              <a href="mailto:perevod_arap@mail.ru" class="contacts__links_item_link">perevod_arap@mail.ru</a>
            </div>
          </address>
        </div>

        <div class="contacts__flags">
          <img class="contacts__flags_item" src="../static/images/emojione-v1_flag-for-united-states.27d9e902.svg">
          <img class="contacts__flags_item" src="../static/images/emojione-v1_flag-for-united-kingdom.eb804218.svg">
          <img class="contacts__flags_item" src="../static/images/emojione-v1_flag-for-germany.bea126d7.svg">
          <img class="contacts__flags_item" src="../static/images/emojione-v1_flag-for-china.20e240e5.svg">
          <img class="contacts__flags_item" src="../static/images/emojione-v1_flag-for-kazakhstan.29002cf3.svg">
          <img class="contacts__flags_item" src="../static/images/emojione-v1_flag-for-czechia.6166f0db.svg">
          <img class="contacts__flags_item" src="../static/images/emojione-v1_flag-for-spain.098a588c.svg">
          <img class="contacts__flags_item" src="../static/images/emojione-v1_flag-for-canada.8e42df61.svg">
          <img class="contacts__flags_item" src="../static/images/emojione-v1_flag-for-france.49b17a5e.svg">
          <img class="contacts__flags_item" src="../static/images/emojione-v1_flag-for-georgia.ca3fdcfb.svg">
        </div>
      </section>
    </div>
  </main>

  <!--  footer -->

  <footer class="footer">
    <div class="container">
      <div class="footer__wrap">
        <nav class="footer__nav">
          <ul class="footer__nav_list">
            <li class="footer__nav_item">
              <a href="#aboutCompany">О компании</a>
            </li>
            <li class="footer__nav_item">
              <a href="#languages">Языки для перевода</a>
            </li>
            <li class="footer__nav_item">
              <a href="#contacts">Контакты</a>
            </li>
          </ul>
        </nav>
        <div class="footer__text">
          <p>
            Для оформления заявки по e-mail напишите на perevod_arap@mail.ru. В поле «Тема» укажите: «Заказ на
            перевод».<br>Укажите контактные данные: телефон, адрес электронной почты и контактное лицо. Пожалуйста,
            напишите на какой язык требуется выполнить перевод, тематику и примерный объем текста, сроки, нужно ли Вам
            заверять перевод (нотариально или нашими печатями). <br>Это поможет нам учесть все особенности Вашего заказа
            и ответить на все вопросы.
          </p>
        </div>
      </div>
      <div class="footer__copyright">&#169; Netology 2022</div>
    </div>
  </footer>

  <script src="/js/app.5421dba9.js"></script>
</body>

</html>
